<section class="discussions" style="width:7%; display:inline-block;">
    <a asp-action="SharePost" asp-controller="Media" class="btn btn-outline-primary" style="margin-top:10px;">
        <i class="fa-solid fa-square-share-nodes" style="font-size:30px;"></i>
    </a>
    <a asp-action="Index2" asp-controller="Media" class="btn btn-outline-primary" style="margin-top:10px;">
        <i class="far fa-comments" style="font-size:20px;"></i>
    </a>
</section>

<section class="chat" style="height:700px;width:85%;display:inline-block;overflow-y:scroll;overflow-x:hidden">
    <a asp-action="Index" asp-controller="Media">back</a>
    <h1>Share post</h1>
</section>