@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<selection class="discussionsN">
    <h1>Follow</h1>
    <div class="input-group rounded">
        <input id="search" type="search" class="form-control rounded col-7" placeholder="Search user name" aria-label="Search" aria-describedby="search-addon" style="margin-left:200px; height:50px;" />
    </div>
    <div id="search_box" style="margin-left:200px; margin-top:15px; width:590px;">
    </div>
</selection>




