@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-50 discussionsN">
    <h3 class="m-b-50 heading-line" style="margin-left:350px">Notifications <i class="fa fa-bell text-muted"></i></h3>
    <div id="notification_box" class="notification-ui_dd-content">

        <!-- -------------------------------- -->
        <!-- -----Notifikation area---------- -->
        <!-- -------------------------------- -->

    </div>
</section>


